.user-profile {
    background-color: red;
    height: 300px;
    width: 100%;
    position: relative;
    margin: 2rem 2rem 3rem 2rem;

    .user-profile-name {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

