.user-profile {
    margin: 3rem 2rem;
    border:none;
    outline: none;
    cursor: pointer;
    position: relative;
    --border-size: 2px;
    --background-color: red

    &:before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
        z-index: -1;
        border: var(--border-size) solid var(--background-color);
        transition: top, left, right, bottom, 100ms ease-in-out;
    }

    &:hover {
        top: calc(var(--border-size) * -2);
        left: calc(var(--border-size) * -2);
        right: calc(var(--border-size) * -2);
        bottom: calc(var(--border-size) * -2);
    }

    &:focus {
        top: calc(var(--border-size) * -2);
        left: calc(var(--border-size) * -2);
        right: calc(var(--border-size) * -2);
        bottom: calc(var(--border-size) * -2);
    }

    .user-profile-image {
        height: 300px;
        width: 300px;
        border-radius: 3%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
        z-index: 10;
        background-color:rgba(0, 0, 0, 0.3);
        border-radius: 3%;
    }

    .user-profile-name {
        color: white;
        position: absolute;
        bottom: 1rem;
        width: 100%;
        z-index: 20;
        text-align: center;
    }
}
