$btnColor: #02253a;

.answer_container {
    width: 50rem;
    height: 30rem;
    background-color: #f5faff;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
    .post-container-question-option {
        display: flex;
        gap:3rem;
        .post-container-question-option-center {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3rem;
        }
    }    
    .post-btn {
        padding:0.5rem 7rem;
        color: white;
        background-color: $btnColor;
        font-weight: 500;
        outline: 0;
        border: 0;
        cursor: pointer;
        border-radius: 30px;
        z-index: 10;
        &:hover {
            background-color: #033a5c;
        }
    }
    .post-btn g {
        fill: white;
    }
}
