$background-color: #868e96;
$Leaderboard-color: #f5faff;


.content-table-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: red;
    }
}

tbody tr{
    background-color: $Leaderboard-color;
    color: black;
    text-align: center;
    font-weight: 300; 
    font-size: 0.9rem;  
}

th,td {
    padding: 10px 18px;
}   

tbody tr td {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    // border-bottom: 2px solid #02253a;
}

.content-table-badge {
    padding: 1rem 1.3rem;
    background-color: #f1c40f;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    color: white;
}