.nomatch-container {
    width: 100vw;
    height: 100vh;
    background: center / cover no-repeat url('./404.svg');
    overflow: auto;

    .nomatch-container-intro {
        margin-top: 10rem;
        text-align: center;
        color: white;
    }
}
