.progress-container {
    width: 30rem;
    height: 50px;
    border-radius: 10px;
    border:0px solid #6402a4;
    // margin: 10px auto;
    div {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: #cacc5b;
    }
}

