.progress-container {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border:2px solid #6402a4;
    // margin: 10px auto;
    div {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: #cacc5b;
    }
}

